*.gz
.pylint*
*.sql
*.log
*.json
*.pickle
.env
package-lock.json
**__pycache__/
**node_modules
**videos/
**assignments/
**slides/
static/js/bundle.js*
*.sqlite
PartialCreditComputation.Fall2022.py
autograde.py
worksheet-03-02-aggregates.py
worksheet-chapter-02-postclass.py
m2-equate-paint-shoulder-30.stuff
midterm1Update.py
regradeBillMostSponsors.py
regradeCheck.py
regradeOnlyOneParty.py
regradePartialCredit
regradeSailorEvaluation1.py
regradeSailorEvaluation2.py
regradeSailorEvaluation3.py
regradeSailorEvaluation4.py
updateGames.py
updatePartial.py
updateTemp.py
visualization/
