# WARNING:
#  Updating .env file will cause it to get copied over to /var/www/mypoll
#  But UWSGI will not recognize the change until a `sudo systemctl restart uwsgi`

# Set to a string that can be eval'd into a Python list.  The list should be the
# onyens of the Postgress database administrators
export ADMINS = '["gb", "jmajikes"]'

# Set assessment_sections
export ASSESSMENT_SECTIONS = '["answers", "submit_code_req", "submit_no_code", "subsequent_submit_no_code" ]'

# Set to the email address that should receive any alerts
export ADMIN_EMAIL = 'jmajikes@cs.unc.edu'

# Set to a string that can be eval'd into a Python list.  The list should be the directory
# names of the different types of assessments offerred for the course.  For example
# ASSESSMENT_FOLDERS = '["exams", "homeworks", "worksheets"]'
export ASSESSMENT_FOLDERS = '["exams", "homeworks", "worksheets"]'

# Set to a string that can be eval'd into a Python dictionary.   The keys are the
# assessment types and the values are the human readable name/label.
export ASSESSMENT_DICT = 'dict(fe="Final Exam", midterm2="Midterm Two", midterm1="Midterm One", homework="Home  works", worksheet="Worksheets")'
export ASSESSMENT_FOLDER_DICT = 'dict(worksheet="worksheets", homework="homeworks", midterm1="exams", midterm2  ="exams", fe="exams")'

# Set to a string that can be eval'd into a Python list.  The list should be the valid
# section numbers
export VALID_SECTIONS = '["000", "001", "003"]'

# To set the website "down" for a portion of time, use the following environment variables
# The start/end times are the times when the date is checked and it's down during that time
# The exception is the DOWN_KEY which allows just a single assessment to be fetchable
# Of course, users in the ADMINS list can get to anything during this time
# If answers are published, set downtime_answers_published = True so that no checking id done
# Any changes of these variables requires a systemctl restart nginx and uwsgi to take effect
export DOWNTIME_START = 'datetime(2021, 4, 14, 15, 35, 0)'
export DOWNTIME_END   = 'datetime(2021, 4, 14, 17, 35, 0)'
export DOWNTIME_KEY   = 'm2-two-thirds'
export DOWNTIME_ANSWERS_PUBLISHED = False

# Used by Reveal
export FQDN = 'comp421fa21.cs.unc.edu'
export HTTPS_FQDN = 'https://comp421fa21.cs.unc.edu'
export HOSTNAME = 'comp421fa21'
export PIAZZA = 'https://piazza.com/unc.fall2021/comp421'
export PIAZZA_ACCESS_CODE = 'comp421fa22'
export LOGO = 'https://comp421.cs.unc.edu/static/images/COMP421Logo.png'
# This is the HTML way to set slide fragments, yuck!
# WARNING: Include no other Markdown after {{FRAG}} as a HTML comment
# has no closing tag and markdown will not process the remaining line
# DO NOT DO: * {{FRAG}} With this [link](http:xxx)
# DO: Use two lines
#  * {{FRAG}} With this
# https://revealjs.com/fragments/
export FRAG = '<!-- .element: class="fragment" -->'
export LI_FRAG = '<li class="fragment">'
export LI_END = '</li>'
export SPAN_FRAG = '<span class="fragment">'
export SPAN_END = '</span>'
export TAB = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'

export UPLOAD_DIR = '/var/www/uploads/'
export GRADED_DIR = '/var/www/mypoll/graded'
export GRADED_URL_PATH = '/graded'

export FIRST_DAY_OF_CLASSES = 'date(2022, 1, 11)'
export LAST_DAY_OF_CLASSES = 'date(2022, 4, 26)'
export LAST_DAY_OF_SCHOOL = 'date(2022, 5, 15)'
export WELCOME_VIDEO_HEXCODE = '5837500b-e827-4e3d-a95d-b0430110454e'
export NO_CLASSES = ('date(2023, 9, 5)', 'date(2023, 10, 19)', 'date(2023, 11, 23)' )
export MIDTERM1_TIME = 'TBD'
export MIDTERM2_TIME = 'TBD'
export FINAL_EXAM_TIME = 'TBD'

# Partial credit information
# Should partial credit be given for multiple choice questions?
export PARTIAL_CREDIT_MULTIPLE_CHOICE = 'False'
# If partial credit should be given for multiple choice, what hsould the percentage be?
export PARTIAL_CREDIT_MULTIPLE_CHOICE_PERCENTAGE = '0'
# If there is a partial credit minimum percentage
export PARTIAL_CREDIT_MINIMUM_PERCENTAGE = '25'

# Set the gmail user and password
export GMAIL_USER = 'xxxxxxx@cs.unc.edu'
export GMAIL_PASSWORD = 'xxxxxxxxxxxxxxxx'
export GMAIL_HOST = 'smtp.gmail.com'

export CFBD_KEY = 'xxxxx' # https://blog.collegefootballdata.com/using-api-keys-with-the-cfbd-api/

# Set the POSTGRES_PW to the ALTER USER jmajikes WITH PASSWORD 'xxxxxxx'
export POSTGRES_PW='xxxxxxx'
